<div class="d-flex flex-column align-items-center row-gap-5 mt-4">
  <div class="d-flex flex-column align-items-center">
    <h1>HI, I'M LOLA</h1>
    <h1>INTERIOR DESIGNER</h1>
  </div>
  <div class="image-container">
    <img ngSrc="assets\IMG-20240726-WA0017.jpg" fill priority />
  </div>
  <div class="d-flex flex-column align-items-center">
    <p>I'm Lola, interior designer based in Argentina. I enhance</p>
    <p>
      spaces by combining aesthetics and functionality to meet client needs.
    </p>
  </div>
</div>
