<h1>About me</h1>
My name is Lola González Panuccio, I am an advanced student of design at
Universidad Católica de Salta. I possess a strong dedication to the graphic arts
and 3D design, areas in which I have developed strong technical skills. I describe myself as being an active and innovative professional, giving aesthetic and
functional solutions.
<h3>Education and relevant courses</h3>
<ul>
  <li>Design at UCASAL <b> (2022 - Present)</b></li>
  <li>English at Cambridge institute <b>(B2)</b></li>
  <li>Marketing digital and storytelling at University of Chicago</li>
</ul>
<h3>Professional skills</h3>
<ul>
  <li>AutoCAD</li>
  <li>SketchUp</li>
  <li>Lumion</li>
  <li>Adobe illustrator</li>
  <li>Photoshop</li>
  <li>Excel</li>
</ul>
<h3>Interests</h3>
<ul>
  <li>Social communication</li>
  <li>Visual arts</li>
  <li>Landscaping</li>
  <li>Psychology in design</li>
</ul>
<h3>Languages</h3>
<ul>
  <li>Spanish <b>(Native)</b></li>
  <li>English <b>(B2)</b></li>
</ul>
<h3>Contact</h3>
+54 9 3875730491
<br>
 Instagram: lola_panuccio
