<div class="title">
  <h1>I'M DEDICATED TO THE GRAPHIC ARTS</h1>
  
</div>
<div id="content">
  <div class="col-11">
      <div class=" image-container"><img cImg fluid src="assets/131977840_1803680279782308_9000362053336117051_n.jpg" alt=""></div>
  </div>
  
  <div class="row mt-5">
    <div class="col-6 pe-5 ">
      <div id="description">
        <p >My name is Lola González Panuccio, I am an advanced student of design at Universidad Católica de Salta. 
          I possess a strong dedication to the graphic arts and 3D design, areas in which I have developed strong technical skills.
           I describe myself as being an active and innovative professional, giving aesthetic and functional solutions.</p>
      </div>
      <div id="languages " class="mt-5">
        <h3>Languages</h3>
        <ul>
          <li>Spanish (Native)</li>
          <li>English (B2) </li>
          
        </ul>
      </div>
    </div>
    <div class="col-5 offset-1">
      <div id="languages">
        <h3>Professional skills</h3>
        <ul>
          <li>AutoCAD</li>
          <li>SketchUp</li>
          <li>Lumion</li>
          <li>Adobe illustrator</li>
          <li>Photoshop</li>
          <li>Excel</li>
        </ul>
      </div>
      <div id="interests">
        <h3>Interests</h3>
        <ul>
          <li>Social communication</li>
          <li>Visual arts</li>
          <li>Landscaping</li>
          <li>Psychology in design</li>
        </ul>
      </div>
    </div>
  </div>
</div>
