<div class="title">
  <h1>I'M DEDICATED TO THE GRAPHIC ARTS</h1>
</div>
<div class="custom-font">
  <div class="row limit-width">
    <div class="row offset-1" id="content">
      <div class="image-container col-auto col-xxl-5">
        <img
          class="fluid-image"
          cImg
          fluid
          src="assets/131977840_1803680279782308_9000362053336117051_n.jpg"
          alt=""
        />
      </div>
      <div class="col-auto d-xxl-flex d-none align-items-end">
        <div id="skills">
          <h3>Professional skills</h3>
          <ul>
            <li><img class="app-logo" src="assets/AutoCAD.png" />AutoCAD</li>
            <li>
              <img class="app-logo" src="assets/Sketchup Logo.png" />SketchUp
            </li>
            <li>
              <img
                class="app-logo"
                src="assets/139f8886d9b092b06b41ec1b33816cf7.png"
              />Lumion
            </li>
            <li>
              <img
                class="app-logo"
                src="assets/Adobe Illustrator Logo.png"
              />Adobe illustrator
            </li>
            <li>
              <img
                class="app-logo"
                src="assets/Adobe Photoshop Logo.png"
              />Photoshop
            </li>
            <li>
              <img
                class="app-logo"
                src="assets/Microsoft Excel Logo.png"
              />Excel
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 limit-width">
    <div class="row offset-1">
      <div class="col-xxl-4 col-xl-6">
        <div id="description" class="pe-5">
          <p>
            My name is Lola González Panuccio, I am an advanced student of
            design at Universidad Católica de Salta. I possess a strong
            dedication to the graphic arts and 3D design, areas in which I have
            developed strong technical skills. I describe myself as being an
            active and innovative professional, giving aesthetic and functional
            solutions.
          </p>
        </div>
        <div id="education" class="mt-5 d-none d-xl-block d-xxl-block">
          <h3>Education and relevant courses</h3>
          <ul>
            <li>Design at UCASAL (2022 - Present)</li>
            <li>English at Cambridge institute (B2)</li>
            <li>Marketing digital and storytelling at University of Chicago</li>
          </ul>
        </div>
      </div>

      <div class="col-xl-6 row mt-4">
        <div class="col-md-auto">
          <img src="assets/image.png" alt="" />
        </div>
        <div
          class="col-md-auto col-sm-6 d-none d-sm-none d-md-block d-xl-none d-xxl-none custom-flex"
        >
          <div id="skills" class="col-md-12 col-sm-3">
            <h3>Professional skills</h3>
            <ul>
              <li><img class="app-logo" src="assets/AutoCAD.png" />AutoCAD</li>
              <li>
                <img class="app-logo" src="assets/Sketchup Logo.png" />SketchUp
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/139f8886d9b092b06b41ec1b33816cf7.png"
                />Lumion
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/Adobe Illustrator Logo.png"
                />Adobe illustrator
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/Adobe Photoshop Logo.png"
                />Photoshop
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/Microsoft Excel Logo.png"
                />Excel
              </li>
            </ul>
          </div>
          <div id="languages" class="col-md-12 col-sm-6">
            <h3>Languages</h3>
            <ul>
              <li>Spanish (Native)</li>
              <li>English (B2)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4 col-sm-6 d-xl-none d-md-block">
          <div id="education ">
            <h3>Education and relevant courses</h3>
            <ul>
              <li>Design at UCASAL (2022 - Present)</li>
              <li>English at Cambridge institute (B2)</li>
              <li>
                Marketing digital and storytelling at University of Chicago
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4 d-none d-md-none d-xl-block d-xxl-none">
          <div id="skills">
            <h3>Professional skills</h3>
            <ul>
              <li><img class="app-logo" src="assets/AutoCAD.png" />AutoCAD</li>
              <li>
                <img class="app-logo" src="assets/Sketchup Logo.png" />SketchUp
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/139f8886d9b092b06b41ec1b33816cf7.png"
                />Lumion
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/Adobe Illustrator Logo.png"
                />Adobe illustrator
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/Adobe Photoshop Logo.png"
                />Photoshop
              </li>
              <li>
                <img
                  class="app-logo"
                  src="assets/Microsoft Excel Logo.png"
                />Excel
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div id="interests">
            <h3>Interests</h3>
            <ul>
              <li>Social communication</li>
              <li>Visual arts</li>
              <li>Landscaping</li>
              <li>Psychology in design</li>
            </ul>
          </div>
        </div>
        <div class="col-4 d-none d-md-none d-xl-block">
          <div id="languages ">
            <h3>Languages</h3>
            <ul>
              <li>Spanish (Native)</li>
              <li>English (B2)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
