.rotated{
    writing-mode: vertical-lr;
    inline-size: fit-content;
    transform: rotate(-180deg);
    align-items: end;
    margin-right: 10px;
    margin-top: 5px;
}

.counter-rotated {
    writing-mode: tb;
    inline-size: fit-content;
    transform: rotate(-180deg);
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
}
h2{
    font-family: Gilroy;
    // font-size: 64px;
    text-align: center; 
    letter-spacing: -2px;
    font-weight: 900;
    margin-bottom: 1em;
   font-stretch: extra-condensed;
   padding-right: 1em;
   padding-left: 1em;

}

.project, .column{
    gap: 1.8vw;

}

#connections{
    background-color: #C3D6F7;
    margin: 0px;

 
}

#sakura{
    background-color: #eebbbb;
    margin: 0px;
    min-height: 10rem;
    

 
}
#your-project{
    background-color: #c9eebb;
    margin: 0px;

 
}
img{
    object-fit: cover ;
    
}


.image-container-custom-3 {
    position: relative;  /* to be used on th eparent whenever using "fill" attribute of NgOptimisedImage */
    aspect-ratio:1.6;
    object-fit: cover;
}