<div class="d-flex flex-column column">
  <div class="d-flex project">
    <div
      class="d-flex flex-column justify-content-between col"
      id="connections"
    >
      <h5 class="rotated">El10Tv</h5>
      <h2>CONNECTIONS</h2>
    </div>
    <img
      ngSrc="assets\images\connections\croquis 4.png"
      alt=""
      height="500"
      width="770"
      class="col-4"
      priority
      (click)="navigate('connections')"
    />
  </div>
  <div class="d-flex project">
    <img
      ngSrc="assets\images\connections\croquis 4.png"
      alt=""
      height="500"
      width="770"
      class="col"
      priority
      (click)="navigate('connections')"
    />
    <div
      class="d-flex flex-column justify-content-between col"
      id="connections"
    >
      <h5 class="counter-rotated ms-2">El10Tv</h5>
      <h2>CONNECTIONS</h2>
    </div>
  </div>
  <div class="d-flex project">
    <div
      class="d-flex flex-column justify-content-between col"
      id="connections"
    >
      <h5 class="rotated">El10Tv</h5>
      <h2>CONNECTIONS</h2>
    </div>
    <img
      ngSrc="assets\images\connections\croquis 4.png"
      alt=""
      height="500"
      width="770"
      class="col-7"
      priority
      (click)="navigate('connections')"
    />
  </div>
</div>
