<div class="d-flex flex-column column" (click)="navigate('connections')">
  <div class="d-flex project row m-0">
    <div
      class="d-flex flex-column justify-content-between col-12 col-md"
      id="connections"
    >
      <h5 class="rotated">El10Tv</h5>
      <h2>CONNECTIONS</h2>
    </div>
    <div class="col image-container-custom-3">
      <img
        ngSrc="assets\images\connections\croquis 4.png"
        fill
        priority
        (click)="navigate('connections')"
      />
    </div>
  </div>
  <div class="d-flex project row m-0" (click)="navigate('sakura')">
    <div class="col image-container-custom-3">
      <img
        ngSrc="assets\images\sakura\sakura 4.png"
        fill
        priority
        (click)="navigate('sakura')"
      />
    </div>
    <div
      class="d-flex flex-column justify-content-center col-md-4 col-12"
      id="sakura"
    >
      <h2>SAKURA</h2>
    </div>
  </div>
</div>
