<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened>
    <div
      class="d-flex flex-column h-100 w-auto justify-content-start align-content-start p-3 sidenav"
    >
      <div class="sidenav-button mb-2">
        <button class="btn" (click)="navigate('home')">
            <mat-icon>home</mat-icon>
          <span *ngIf="expandedSidenav"> Home </span>
        </button>
      </div>
      <div class="sidenav-button mb-2">
        <button class="btn" (click)="navigate('about')" routerLinkActive="active">
            <mat-icon>waving_hand</mat-icon>
            <span *ngIf="expandedSidenav"> About me </span>
        </button>
      </div>
      <div class="sidenav-button mb-2">
        <button class="btn" (click)="navigate('projects')">
            <mat-icon>architecture</mat-icon>

            <span *ngIf="expandedSidenav">Projects</span>
        </button>
      </div>
      <div class="sidenav-button mb-2">
        <button class="btn" (click)="navigate('contact')">
            <mat-icon>people-alt</mat-icon>
            <span *ngIf="expandedSidenav">Contact</span>
        </button>
      </div>
      <div class="mt-auto ms-auto sidenav-button">
        <button class="btn" (click)="expandedSidenav = !expandedSidenav">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <div class="ms-3">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
