<div class="d-flex flex-column row-gap-3" id="project">
  <div class="d-flex column-gap-5" >
    <div class="col-6 image-container-custom-3">
      <img
      ngSrc="assets\images\connections\croquis 4.png"
      fill
      priority
      />
    </div>
    <div class="d-flex flex-column">
      <h2 class="mb-5">CONNECTIONS</h2>
      <h3 class="mb-4">El10TV</h3>
      <p class="mt-auto mb-auto">
        The design project for El10Tv's news program reflects the channel's vision
        and mission of being recognized in the Northwestern region of Argentina,
        projecting professionalism, and strong connection with its viewers. This
        is symbolized through a combination of technology and a directional
        journey in design. Geometric, sharp-angled panels provide directionality
        while contrasting with the backdrop's organic patterns. This dynamic
        design combining technology and guiding viewers through an informative
        journey.
      </p>
    </div>
  </div>
  <div class="d-flex image-container-custom"> <img
    ngSrc="assets\images\connections\noticiero vista 2.png"
    fill
    priority
    /></div>
 
  <div class="d-flex column-gap-5">
    
    <div class="d-flex flex-column col-4">
      <h3 class="mb-5 mt-5">MATERIALS</h3>
      <div class="mt-auto mb-auto">
        <p >
          The materials that bring this project to life include:
        </p>
        <ul>
          <li> Melamine, MDF, hardboard.</li>
          <li> Vinyl wall and floor graphics.</li>
          <li> LED light strips.</li>
        </ul>
        <p >
          Each of these elements play a crucial role in shaping and enhancing the overall design.
        </p>
      </div >
    </div>
    <div class="col image-container-custom">
      <img
      ngSrc="assets\images\connections\croquis 6.png"
      fill
      priority
      />
    </div>
    
    
  </div >
  <div class="d-flex column-gap-4 mt-4">
    <div class="col image-container"><img
      ngSrc="assets\images\connections\noticiero mob. 1.png"
      fill
      /></div>
    <div class="col image-container"><img
      ngSrc="assets\images\connections\noticiero mob. 2.png"
      fill
      /></div>
    <div class="col image-container"><img
      ngSrc="assets\images\connections\noticiero mob. 3.png"
      fill
      /></div>
    <div class="col image-container"><img
      ngSrc="assets\images\connections\noticiero mob. 4.png"
      fill
      /></div>
      
  </div>
</div>
