/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav-container {
    height: 100%;

}

.sidenav {
    background-color: #457769;

    button {
        color: white;
    }
}

.mat-drawer {
    width: auto !important;
}

.sidenav-button {
    background-color: #ececec57;
    border-radius: 5px;
    text-align: center;
}