/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/gilroy/Gilroy-Light.ttf) format("opentype");
}
html {
  width: 100%;
}
body {
  margin: 0;
  font-family: Gilroy;
}

span {
  padding-left: 2px;
}

mat-icon.waving-hand {
  font-size: max(1vw, 18px) !important;
}

mat-icon.arrow {
  transition: 300ms;
  transform: rotate(0deg);
}

mat-icon.arrow.rotated {
  transition: 300ms;
  transform: rotate(180deg);
}
mat-sidenav {
  border-width: 0 !important;
}
h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: min(13vw, 90px);
}
h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: min(6vw, 90px);
}
h4,
button {
  font-family: Roboto;
  font-weight: 400;
  font-size: min(5vw, 35px);
}
label {
  font-family: Roboto;
  font-weight: 500;
  font-size: min(5vw, 20px);
}
