/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/gilroy/Gilroy-Light.ttf) format("opentype");
}
html {
  width: 100%;
}
body {
  margin: 0;
  font-family: Gilroy;
}

span {
  padding-left: 2px;
}

mat-icon {
  font-size: max(1.2vw, 22px) !important;
}
mat-icon.waving-hand {
  font-size: max(1vw, 18px) !important;
}

mat-icon.arrow {
  transition: 300ms;
  transform: rotate(0deg);
}

mat-icon.arrow.rotated {
  transition: 300ms;
  transform: rotate(180deg);
}
mat-sidenav {
  border-width: 0 !important;
}
